# Compilados
bin
obj

# Config local
.vs
.github

# Archivos sensibles
appsettings.json
appsettings.Development.json

# Versionamiento
global.json

# configuracion de usuario
campusuno.API.csproj.user
